In [ ]:
name = input('Name: ')
print('Greetings', name)

Name: can
Greetings can

In [ ]:
number = int(input('Number: '))
print(number + 1000)

Number: 22
1022

In [ ]:
#modules /floor method goes with the closest low number.
import math
floor_number = math.floor(3.45)
print(floor_number, type(floor_number))

3 <class 'int'>

In [ ]:
import datetime
print(datetime.datetime.now())

2024-02-15 12:42:24.653927

In [ ]:
#roll a dice
import random
print(random.randint(1,6))

5

In [ ]:
#operators and operands
print("5 + 2 = ", 5 + 2)
print("5 - 2 = ", 5 - 2)
print("5 * 2 = ", 5 * 2)
print("5 / 2 = ", 5 / 2)
print("5 ** 2 = ", 5 ** 2) #If we want to perform exponentiation, we use double asterisks.
print("5 // 2 = ", 5 // 2) #Floor division. Unlike the normal division, here the result will be rounded to a whole number. Thatâ€™s why it is also called integer division. In Python, the number will always be rounded to the smaller integer.
print("5 % 2 = ", 5 % 2) #Modulo operator, which will give you the remainder of a division.

5 + 2 =  7
5 - 2 =  3
5 * 2 =  10
5 / 2 =  2.5
5 ** 2 =  25
5 // 2 =  2
5 % 2 =  1

In [ ]:
x = 5 # equivalent to x = 5
x += 5 # equivalent to x = x + 5
x -= 5 # equivalent to x = x - 5

In [ ]:
num1 = 1
num2 = 2
print(num1, ">", num2, "=", num1 > num2)
print(num1, ">=", num2, "=", num1 >= num2)
print(num1, "<", num2, "=", num1 < num2)
print(num1, "<=", num2, "=", num1 <= num2)
print(num1, "==", num2, "=", num1 == num2)
print(num1, "!=", num2, "=", num1 != num2)

1 > 2 = False
1 >= 2 = False
1 < 2 = True
1 <= 2 = True
1 == 2 = False
1 != 2 = True

In [ ]:
print('True and True =' , True and True)
print('True and False =' , True and False)
print('False and True =' , False and True)
print('False and False =' , False and False)

True and True = True
True and False = False
False and True = False
False and False = False

In [ ]:
print('True or True =' , True or True)
print('True or False =' , True or False)
print('False or True =' , False or True)
print('False or False =' , False or False)

True or True = True
True or False = True
False or True = True
False or False = False

In [ ]:
print('not True =' , not True)
print('not False =' , not False)

not True = False
not False = True

In [ ]:
##FLOW CONTROLS
celsius = 32

if celsius > 30:
  print('Hot')
elif 30 >= celsius > 20:
  print('Good')
elif -273 <celsius <= 20:
  print('Cold')
else:
  print('Something went wrong')

Hot

In [ ]:
#NESTED IF STATEMENTS

drivers_license = True
age = 17

if age > 17:
  if drivers_license:
    print('You can drive a car')
  else:
    print('You need to go to course')
else:
  print('you need to get older')

you need to get older

In [ ]:
#FOR LOOPS (for & while)
name = 'eyheyhejehnkd'

for i in name:
  print(i)
print('loop is completed')

e
y
h
e
y
h
e
j
e
h
n
k
d
loop is completed

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numbers:
    print(i)
print('list is completed')

1
2
3
4
5
6
7
8
9
10
list is completed

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(5,21):
  print(i)
print("loop is completed")

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
loop is completed

In [ ]:
for i in range(1,101):
  if i % 5 == 0:
    print(i)
print("completed")

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
completed

In [ ]:
celsius = 10

while celsius <= 50:

  if celsius > 30:
    print('Hot')
  elif celsius < 30:
    print('Good')
  elif -273 < celsius <= 20:
    print('Cold')
  else:
    print('Something went wrong')

  print("the current temperature is", celsius)
  celsius += 5

Good
the current temperature is 10
Good
the current temperature is 15
Good
the current temperature is 20
Good
the current temperature is 25
Something went wrong
the current temperature is 30
Hot
the current temperature is 35
Hot
the current temperature is 40
Hot
the current temperature is 45
Hot
the current temperature is 50

In [ ]:
import time
counter = 0

while counter >= 0:
  counter += 1

  print(counter)
  time.sleep(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

KeyboardInterrupt:

In [ ]:
import random
while True:

  random_number = random.randrange(1000)
  print(random_number)

  if random_number == 777:
    print("Found!")
    break

348
336
887
445
277
975
764
9
213
924
643
222
553
684
996
717
949
815
342
121
915
110
718
887
313
38
399
232
869
127
728
993
996
554
987
280
480
491
719
553
575
782
879
83
972
277
929
128
944
252
602
55
254
797
740
692
988
125
78
834
842
306
268
221
749
402
784
241
53
807
13
608
253
553
830
979
846
947
922
418
22
233
742
508
823
259
900
116
776
548
803
142
365
614
869
167
5
248
503
724
817
368
865
70
410
980
569
541
29
948
342
907
989
425
15
311
692
904
302
283
869
622
187
59
347
222
373
826
882
639
327
927
397
230
606
199
418
495
112
802
551
383
396
409
515
446
283
21
543
988
473
947
591
20
0
995
39
855
566
824
557
500
174
595
871
889
91
676
189
9
546
316
973
513
17
765
327
912
907
944
243
525
221
883
433
732
648
109
418
150
777
Found!

In [ ]:
name_list = ["max", "deniz", "ayse" , "selin", "andy" , 26, "tom" , "tim"]

for name in name_list:

  if type(name) != str:
    print("found", name)
    break

  else:
    print(name,  "is a string")

max is a string
deniz is a string
ayse is a string
selin is a string
andy is a string
found 26

In [ ]:
x = True
y = False
z = False

if not x or y:
  print(1)
elif not x or not y and z:
  print(2)
elif not x or y or not y and x:
  print(3)
else:
  print(4)

3

In [ ]:
num = 3.4
if num > 0:
  print("positive number")
elif num == 0:
  print("zero")
else:
  print("negative number")

positive number

In [ ]:
my_list = [1,5,5,5,5,1]
top = my_list[0]

for element in my_list:
  if element > top:
    top = element
print(my_list[top])

1

In [ ]:
i = 1
while True:
  print(i)
  i += 2
  if (i == 5):
    break

1
3

In [ ]:
for i in "Istanbul":
  if i == "n":
    break
  else:
    x += 1

print(x)

5

In [ ]:
found = False
mylist = [13,12,66,87,99,203,111,54,431,11]
i = 0
while (not found):
  if (mylist[i] == 54):
    found = True
    break

if found:
  print("54 is found in the list")
else:
  print("54 is not found in the list")

KeyboardInterrupt:

In [ ]:
#FUNCTIONS
def hello(name):
  print("hello", name)

hello("deniz")

hello deniz

In [ ]:
def sum(number1, number2):
  answer = number1 + number2
  return answer

result = sum(3,5)
print(result)

8

In [12]:
#Arguments, Scopes

def argument_printer(arg_position1, arg_position2):
	print("argument at position 1:", arg_position1)
	print("argument at position 2:", arg_position2)

argument_printer('value1', 'value2')

argument at position 1: value1
argument at position 2: value2

In [15]:
def greetings(first_name, last_name, auto_correction):
    if auto_correction == True:
        capitalized_first_name = first_name.capitalize()
        capitalized_last_name = last_name.capitalize()
        print("Hello,", capitalized_first_name, capitalized_last_name)
    else:
        print("Hello,", first_name, last_name)

greetings("deniZ", "kAYA", True)

Hello, Deniz Kaya

In [16]:
def greetings(first_name, last_name, auto_correction = True):
    if auto_correction == True:
        capitalized_first_name = first_name.capitalize()
        capitalized_last_name = last_name.capitalize()
        print("Hello,", capitalized_first_name, capitalized_last_name)
    else:
        print("Hello,", first_name, last_name)

greetings("deniZ", "kAYA", True)

Hello, Deniz Kaya

In [ ]:
#keyword arguments
#position arguments

In [18]:
#local scopes & global scopes

number = 13 #global variable

def change_number():
	number = 4 #local variable

change_number()
print(number)

13

In [19]:
numner = 13

def change_number():
	global number
	number = 4

change_number()
print(number)

4

In [20]:
#modules = split your code to small parts.

import test

test.greetings("brad")

Hello brad

In [21]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [25]:
import seaborn as sns

In [28]:
def myfunction(a, b, c=5, d=2):
	if c > d:
		print(a)
	else:
		print(b)

myfunction(a=0, b=1, d=4)

0

In [33]:
price = 1200

def update_price(new_price):
	prince = new_price
	return price

update_price(1500)
print(price)

1200

In [35]:
#LISTS & TUPLES => lists are mutable, tuples are immutable

#append = to add items at the end of the list.

shopping_list = ["Apple", "Juice", "Ball", "Book"]

shopping_list.append("Water")
print(shopping_list)

['Apple', 'Juice', 'Ball', 'Book', 'Water']

In [36]:
#insert = to add elements in any position.

shopping_list.insert(2, "Banana")
print(shopping_list)

['Apple', 'Juice', 'Banana', 'Ball', 'Book', 'Water']

In [37]:
#remove = to delete/remove items from the list.
shopping_list.remove("Apple")
print(shopping_list)

['Juice', 'Banana', 'Ball', 'Book', 'Water']

In [39]:
shopping_list[3] = "Strawberry" #replacing items
print(shopping_list)

['Juice', 'Banana', 'Ball', 'Strawberry', 'Water']

In [40]:
number_list = [1, 2, 3, 4, 5]

square_list = []

for num in number_list:
	square_list.append(num**2)

print(square_list)

[1, 4, 9, 16, 25]

In [41]:
#list comprehension

number_list = [1, 2, 3, 4, 5]
square_list = [num**2 for num in number_list]

print(square_list)

[1, 4, 9, 16, 25]

In [42]:
#DICTIONARIES

phone_book = {"deniz kaya": "5343434", "selin": "82828828", "alican":"277272"}
print(phone_book)

{'deniz kaya': '5343434', 'selin': '82828828', 'alican': '277272'}

In [43]:
print(phone_book["alican"])

277272

In [45]:
inventory = dict()
inventory["bananas"] = 25
inventory["apples"] = 102
inventory["oranges"] = 54
inventory["watermelons"] = 4

print(inventory)

{'bananas': 25, 'apples': 102, 'oranges': 54, 'watermelons': 4}

In [46]:
print(inventory["apples"])

102

In [47]:
print(inventory.keys())

dict_keys(['bananas', 'apples', 'oranges', 'watermelons'])

In [48]:
print(inventory.values())

dict_values([25, 102, 54, 4])

In [49]:
print(inventory.items())

dict_items([('bananas', 25), ('apples', 102), ('oranges', 54), ('watermelons', 4)])

In [50]:
for key in inventory:
	inventory[key] += 100

print(inventory)

{'bananas': 125, 'apples': 202, 'oranges': 154, 'watermelons': 104}

In [51]:
for key, value in inventory.items():
	if value > 200:
		print("too many", key)
	else:
		print("enough", key)

enough bananas
too many apples
enough oranges
enough watermelons

In [53]:
student_age_dict = {"Alex": 11, "Bella": 12, "Chris": 12, "Donna": 10}

for student in student_age_dict.keys():
	age = student_age_dict[student]
	age += 1

print(student_age_dict)

{'Alex': 11, 'Bella': 12, 'Chris': 12, 'Donna': 10}

In [1]:
#file operations

In [2]:
a = 1
b = 2
c = "3"

try:
	print("t", a + c)
except:
	c = int(c)
	print("e", a + c)

e 4