
# non-scalar data types

# LISTS

group data we have

In [ ]:
student_1 = 78
student_2 = 50
student_3 = 90
student_4 = 45
student_5 = 32

In [2]:
grades = [78, 50, 90, 45, 32]
grades[0]

78

In [10]:
# different data types can exist in the same list.
l = [1, 2, "a", "b", True, 4.5, [1,2,3]]
l

[1, 2, 'a', 'b', True, 4.5, [1, 2, 3]]

## indexing and slicing

In [11]:
grades[0]

78

In [12]:
grades[10]

IndexError: list index out of range

In [13]:
grades[:2250]

[78, 50, 90, 45, 32]

In [18]:
# lists are mutable

grades[2] = 5
grades

[78, 50, 5, 45, 32]

In [22]:
grades[2] += 15 #did this multiple times.
grades

[78, 50, 65, 45, 32]

In [24]:
grades[0:3] = 1 , 2 , 3
grades

[1, 2, 3, 45, 32]

In [25]:
grades[0:2] = 1 , 2 , 2 , 3 , 5
grades

[1, 2, 2, 3, 5, 3, 45, 32]

In [26]:
grades[0:3] = 30 # you cannot give just one value for this.

TypeError: can only assign an iterable

In [28]:
grades[0:3] = [30] #but you can give one value as list
grades

[30, 3, 45, 32]

len() #how many value we have in that list.

In [1]:
a = "hahahahahhahahha"
len(a)

16

In [3]:
alex = [1,2,3,4,5]
len(alex)

5

# append()

In [10]:
# add an element to the end of a list. append() can add element to end of the list.
l = [1,2]
l.append(3)
l

[1, 2, 3]

# extend

In [15]:
# add more than one element to the end of a list. extend() can add element to end of the list.
b = [1,2,3,4,5]
b.extend([6,7,8,9,10])
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# insert

In [16]:
# add element to a specific index.
b.insert(0,0)  #did not delete anything, just added 0 and all the rest moved to the right side.
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# remove()

In [17]:
# delete an element in a list. if this element is not in the list there will be an error.
b.remove(1)
b

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
b.remove(1)

ValueError: list.remove(x): x not in list

In [19]:
#if you have more than one same element
a = [1,2,3,1]
a.remove(1) # it will delete the first one only.
a

[2, 3, 1]

# pop()

In [20]:
# deletes an element in a specific index and shows it.
a = [1,2,3,4]
a.pop(1)

2

In [21]:
a #previous index 1 was 2.

[1, 3, 4]

In [22]:
a.pop(2) + 5 #doing calculations with deleted element.

9

In [23]:
a.pop(100) #our of range error.

IndexError: pop index out of range

# count()

In [25]:
# how many times that element appears in the list.

z = [5,5,5,5,5,5,5,5,5,6,6,6,6,7,8,9,10,10,10]
z.count(10)

3

In [26]:
z.count(1000) #there is no 1000 in the given list.

0

# aliasing

In [27]:
l = [1,2,3]
l2 = l
l

[1, 2, 3]

In [28]:
l2

[1, 2, 3]

In [29]:
l[0] = 500 #l2 will be also updated.
l

[500, 2, 3]

In [30]:
l2 #what you have done with the "l" would also effect "l2"

[500, 2, 3]

# copy()

In [31]:
l2 = l.copy()
l

[500, 2, 3]

In [32]:
l[0] = 3
l

[3, 2, 3]

In [33]:
l2

[500, 2, 3]

# concatenation in lists. +

In [34]:
a = [1,2,3,4,5]
b = [6,7,8]

a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
c = a + b
c

[1, 2, 3, 4, 5, 6, 7, 8]

# finding a specific element's index.

In [37]:
c.index(2) #shows the index that shows the specific element for the first time.

1

In [38]:
z = [1,2,3,4,5,6,5,5,5,] #only first index with that element. 
z.index(5)

4

In [39]:
# if the element is not in the list, an error will be occured.

# reverse() -reversing the list.

In [41]:
g = [1,2,3]
g.reverse() # the list will be updated.
g

[3, 2, 1]

In [43]:
g[::-1] #with slicing, list wont be updated but the same result.

[1, 2, 3]

In [44]:
f = g[::-1] #list g wont be updated, and f will be the updated version of the g list.
f

[1, 2, 3]

# sorting

In [45]:
# for strings, sorting acoording to the alphabetical order. for numeric values, sorting numbers from smallest to largest.

# sorted() would not update the original list.

# .sort() is inplace

In [46]:
l = ["a", "b", "c"]
sorted(l)

['a', 'b', 'c']

In [47]:
l

['a', 'b', 'c']

In [49]:
l.sort() #inplace method
l

['a', 'b', 'c']

In [50]:
l = ["b","a","c","1","3","4"]
l.sort() #numeric values first.
l

['1', '3', '4', 'a', 'b', 'c']

In [51]:
l = [1,3.1,2,0.6]
l

[1, 3.1, 2, 0.6]

In [52]:
l = ["b","a","c",1,2]
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [53]:
l = [[1,-20,3], [2,-200,-3]] #comparing the first elements, and then second one if its needed.
l.sort()
l

[[1, -20, 3], [2, -200, -3]]

In [55]:
l = [["a", "b", "c"], [2,-200,-3]] #cannot compare "a" and 2
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [57]:
l = [[200, "b", "c"], [2,-200,-3,10]] #there wont be an error bc from first letter it can be detected that which one if bigger.
l.sort()
l

[[2, -200, -3, 10], [200, 'b', 'c']]

In [58]:
l = [[200, "b", "c"], [200,-200,-3,10]] 
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'